.section-container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .section-container {
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    padding: 29px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section-container {
    padding: 40px 112px;
    /* max-width: 1440px; */
  }
}
