@import './css/reset.css';
@import './css/section.css';
@import './css/modal.css';
@import './css/form.css';
@import './css/container.css';

:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Gotham Pro', sans-serif;
  --green: #0f7c41;
  --green-hover: #076433;
  --transition: all 0.2s linear;
  --text: #010101;
}

.privaci-box {
  position: relative;
}

.visually-hidden {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#registration-form,
#modal-registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Design */
@media (min-width: 768px) {
  #register-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}
