@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Ace-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
